﻿section{
background:#fdfdfd;
padding:90px 0 90px 0;
}

sectionn{
    background:#fdfdfd;
    padding:31px 0 31px 0;
}

#explore-3.side-bg .background-image {background:url('../img/bg/bg-2.jpg') fixed;}
#explore-4.side-bg .background-image {background:#f2f2f2;}
#explore-5.side-bg .background-image {background:#1f242e;}
#explore-6.side-bg .background-image {background:url('../img/bg/bg_side_4.html') center;}
#explore-6{background:#fff;}

#section-quick-quote{background: url('../img/bg/bg_2.html') center fixed; background-size:cover;}
#section-welcome{background: url('../img/bg/bg-tile.html') fixed; background-size:cover;}
#section-counter{background: url('../img/bg/bg_3.html') center fixed; background-size:cover;}
#section-contact-form{background: url('../img/bg/bg_contact_form.jpg') top fixed; background-size:cover;}
/* #section-welcome-2{background: url('../img/bg/bg_slider_2.jpg') fixed; background-size:cover;} */
#section-welcome-3{background: url('../img/bg/bg_slider_3.html') fixed; background-size:cover;}
#section-with-bg-1{background: url('../img/bg/bg-4.html') fixed; background-size:cover;}
#section-with-bg-2{background: url('../img/bg/bg-6.jpg') fixed; background-size:cover;}
#section-intro-bg{background: url('../img/bg/bg-4.html') fixed; background-size:cover;}
#section-news{background:#f2f2f2;}
#section-side-2.side-bg .background-image {background:url('../img/bg/bg_side_1.html') center;}
#section-side-3.side-bg .background-image {background:url('../img/bg/bg_side_2.html') center;}
/* #section-side-4.side-bg .background-image {background:url('../img/bg/bg_side_3.jpg') center;} */


#subheader.page-service-1{background: url('../img/bg/bg_services_1.jpg') fixed; background-size:cover;}
#subheader.page-service-2{background: url('../img/bg/bg_services_2.jpg') fixed; background-size:cover;}
#subheader.page-service-3{background: url('../img/bg/bg_services_3.jpg') fixed; background-size:cover;}
#subheader.page-service-4{background: url('../img/bg/bg_services_4.jpg') fixed; background-size:cover;}
#subheader.page-service-5{background: url('../img/bg/bg_services_5.html') fixed; background-size:cover;}
#subheader.page-service-6{background: url('../img/bg/bg_services_6.html') fixed; background-size:cover;}
#subheader.page-service-7{background: url('../img/bg/bg_services_7.html') fixed; background-size:cover;}
#subheader.page-service-8{background: url('../img/bg/bg_services_8.html') fixed; background-size:cover;}
#subheader.page-service-9{background: url('../img/bg/bg_services_9.html') fixed; background-size:cover;}


header,header.clone {background:#fff; border:none;}
header.clone #mainmenu a {
color: #5c778e;
}

header.overlay{
background:rgba(19,19,19,.5);
}

header .search input, header.clone .search input[type=text]{
background:rgba(255,255,255,.1);
color:#344350;
}

.btn-search-icon{
background:none;
border:none;
width:40px;
}

.btn-search-icon{
position:absolute;
margin-left:-35px;
}

	
#subheader {
padding-top: 80px;
background: url(../img/bg/bg-subheader.html) fixed;
background-size: cover !important;
text-align: center;
}

#subheader .inner{
padding:90px 0 90px 0;
}

#subheader .inner.overlay{
background:rgba(255,255,255,.2);
}

/* custom subheader background */
/* #subheader.page-about{background: url('../img/bg/bg_about.jpg') top fixed; background-size:cover;} */
/* #subheader.page-client{background: url('../img/bg/bg_about.jpg') top fixed; background-size:cover;} */
#subheader.page-team{background: url('../img/bg/bg_team.jpg') top fixed; background-size:cover;}
#subheader.page-service{background: url('../img/bg/background-subheader-2-service.jpg') top fixed; background-size:cover;}
#subheader.page-news{background: url('../img/bg/bg_news.html') top fixed; background-size:cover;}
#subheader.page-gallery{background: url('../img/bg/bg_gallery_all.html') top fixed; background-size:cover;}
#subheader.page-contact{background: url('../img/bg/bg_contact.jpg') top fixed; background-size:cover;}



#section-track{
position:initial;
width:100%;
background:url('../img/bg/bg-3.jpg'); background-size:cover;
padding:60px 0 60px 0 !important;
}



#section-cta{
width:100%;
background:url('../img/bg/bg-3.jpg'); background-size:cover;
padding:60px 0 60px 0 !important;
}

#section-cta-2{
width:100%;
background:url('../img/bg/bg-5.jpg'); background-size:cover;
padding:60px 0 60px 0 !important;
}

#section-bod{
position:initial;
width:100%;
background:url('../img/bg/bg-3.jpg'); background-size:cover;
}

#section-tracking-result{background:#222;}


p.lead{
font-size:16px;
color:#363636;
}

p.lead.big{
font-size:22px;
font-weight:lighter;
}

.location h3{ margin-top:10px;}

.location .social i{
margin-right:10px;
color:#363636;
}

.light-text p.lead{
color:#344350;
}

.img-custom-1{
position:absolute;
margin-top:-140px;
margin-left:-28px;
}

#preloader {
background: url(../img/loader-2.gif) center no-repeat #000;
}

#awards-thumbnail .overlay h3,
#awards-thumbnail .overlay h4{
color:#333;
}

.widget{
border-bottom:none;
padding-bottom:0;
}

.widget_tags li a {
font-size:12px;
color:#555;
border: solid 1px #ddd;
}

.widget .cat-list li, .widget .news-list li{
padding:10px 20px 10px 20px;
border:solid 1px #eee;
border-bottom:none;
}

.widget .cat-list li:last-child, .widget .news-list li:last-child{
border-bottom:solid 1px #eee;
}

.widget .cat-list li:hover, .widget .news-list li:hover{
background:#eee;
}

.widget .cat-list li a, .widget .news-list li a{
color:#7d7d7d;
text-decoration:none;
}

.widget .cat-list li:hover a, .widget .news-list li:hover a{
color:#363636;
}

.widget .cat-list li i, .widget .news-list li i{
margin-right:10px;
}

#testi-carousel-2 blockquote, .testi-box-1 blockquote{
background:#363636 !important;
}

.arrow-down{
border-top: 5px solid #363636 !important;
}

.tiny-border{
height:1px;
display:inline-block;
}

footer{
background:#1f242e;
padding-bottom:0;
padding-top:80px;
}

#mainmenu-container {
font-family: "Lato";
font-size:14px;
font-weight: 500;
}

#mainmenu a {
padding: 10px 22px 8px 22px;
}

h2{
font-family:"Lato";
font-size:25px;
font-weight:bold;
text-transform:none;
margin-bottom:20px;
}

.cta h2{
font-size:25px;
font-weight:500;
}

.cta .btn-custom{
	font-size:18px;
}

h3{
font-family:"Lato";
font-size:18px;
font-weight:bold;
}

h4{
font-family:"Lato";
font-size:16px;
font-weight:bold;
}
.widget h3{
text-transform:none;
}

footer{
background:#171717;
color:#7d7d7d;
}

footer.sticky{
	position:fixed;
	bottom:0;
	z-index:-1;
	width:100%;
}

.subfooter{
background:#131313;
padding:20px 0 20px 0;
}

footer h3{
padding-bottom:10px;
}

#subheader h1{
font-family:"Lato";
font-weight:bold;
font-size:45px;
letter-spacing:1px;
color:#fff !important;
}

h1,.type-wrap.title {
font-size:56px;
font-weight:800;
text-transform:uppercase;
line-height:56px;
font-weight:normal;
color:#fff;
margin-bottom:0;
}

.custom-font-1{
font-family:"Lato";
font-weight:600;
letter-spacing:2px;
}

.btn-custom{
text-transform:none;
letter-spacing:0;
border-radius:0;
-moz-border-radius:0;
-webkit-border-radius:0;
color:#fff;
padding:10px 20px 10px 20px;
}




.bgblue{background:#0c79e3;}
.cta .bgblue{background:rgba(12,121,227,.7);}



.bg-color-fx:hover{
background: #111;
}

.divider-deco{ background:none; margin-bottom:30px;}


.news-item.style-2 .inner{
border:solid 1px #f2f2f2;
padding: 0 20px 20px 20px;
}
.news-item.style-2 .date{
position:absolute;
background:#333;
width:70px;
height:70px;
text-align:center;
font-weight:bold;
margin-top:20px;
color:#363636;
}
.news-item.style-2 .date span{
display:block;
}
.news-item.style-2 .date .day{
font-size:18px;
margin-top:10px;
}
.news-item.style-2 .date .month{
font-size:14px;
}
.news-item.style-2 .desc{
padding-left:90px;
}
.news-item.style-2  h4{
margin:0;
margin-bottom:5px;
font-size:16px;
}

.animated {
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;		  
}

.crumb li:before{
	content:"|";
}

.box-service{background:#fff;}

#bg-box-service-1{background:#141414;}
#bg-box-service-2{background:#191919;}
#bg-box-service-3{background:#1f1f1f;}
#bg-box-service-4{background:#1c1c1c;}
#bg-box-service-5{background:#1f1f1f;}
#bg-box-service-6{background:#1c1c1c;}
#bg-box-service-7{background:#161616;}
#bg-box-service-8{background:#191919;}


#contact textarea{
	height:254px;
}

.news-list-date .date .day, .news-list-date .date .month{
color:#333;
}
.homeslider{
        height: 750px !important;width: 100% !important
}

.homeimg{
        height:400px !important; width: 500px !important
}
.homefreight{
        
}
.carousel-content {
    position: sticky;
    bottom: 45%;
    left: 5%;
    z-index: 20;
    text-align: left;
    /* background-color: white; */
    /* opacity: 0.85; */
    margin-left: 320px;
    margin-right: 270px;
    padding: 15px 10px;
}
.carousel-contents {
    position: sticky;
    bottom: 45%;
    left: 5%;
    z-index: 20;
    text-align: center;
    /* background-color: white; */
    /* opacity: 0.85; */
    margin-left: 320px;
    margin-right: 270px;
    padding: 15px 10px;
    font-size: 26px;
}
@media only screen and (min-width: 768px) and (max-width: 991px){

}
@media (max-width: 991px)
{
.carousel-content {
    position: sticky;
    bottom: 45%;
    left: 5%;
    z-index: 20;
    text-align: left;
    /* background-color: white; */
    /* opacity: 0.85; */
    margin-left: 220px;
    margin-right: 170px;
    padding: 15px 10px;
    font-size: 20px;
}
.carousel-contents {
    position: sticky;
    bottom: 45%;
    left: 5%;
    z-index: 20;
    text-align: center;
    /* background-color: white; */
    /* opacity: 0.85; */
    margin-left: 220px;
    margin-right: 170px;
    padding: 15px 10px;
}

.homeslider{
        width: 100% !important;
        height: 1250px !important;
        margin-bottom: -300px;
}
.slider{
        width: 100% !important;
        height: 500px !important;
}
}
@media (min-width: 992px){
.homeslider{
        width: 100% !important;
        height: 750px !important;
}
.slider{
        width: 100% !important;
        height: 400px !important;
}

}
/* .carousel-content p {
    font-size: 16px;
    color: black;
} */
/* .carousel-content h5 {
    font-size: 24px;
    font-weight: bold;
} */
/* .padding_top {
    margin-top: 5px;
    padding-top: 0px;
} */
.cusm{
        margin-top: -300px !important;
}
.cusa{
        margin-top: -100px !important;
}
@media (min-width: 1265px){
.cusm{
        margin-top: -245px !important;
}
}
.cust{
        margin-top: 45px;
}
