﻿@import url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic);
.homeslider{
        height: 750px !important;width: 100% !important
}

.homeimg{
        height:400px !important; width: 500px !important
}
.homefreight{
        
}
.carousel-content {
    position: sticky;
    bottom: 45%;
    left: 5%;
    z-index: 20;
    text-align: left;
    /* background-color: white; */
    /* opacity: 0.85; */
    margin-left: 320px;
    margin-right: 270px;
    padding: 15px 10px;
}
.carousel-contents {
    position: sticky;
    bottom: 45%;
    left: 5%;
    z-index: 20;
    text-align: center;
    /* background-color: white; */
    /* opacity: 0.85; */
    margin-left: 320px;
    margin-right: 270px;
    padding: 15px 10px;
    font-size: 26px;
}
@media only screen and (min-width: 768px) and (max-width: 991px){

}
@media (max-width: 991px)
{
.carousel-content {
    position: sticky;
    bottom: 45%;
    left: 5%;
    z-index: 20;
    text-align: left;
    /* background-color: white; */
    /* opacity: 0.85; */
    margin-left: 220px;
    margin-right: 170px;
    padding: 15px 10px;
    font-size: 20px;
}
.carousel-contents {
    position: sticky;
    bottom: 45%;
    left: 5%;
    z-index: 20;
    text-align: center;
    /* background-color: white; */
    /* opacity: 0.85; */
    margin-left: 220px;
    margin-right: 170px;
    padding: 15px 10px;
}

.homeslider{
        width: 100% !important;
        height: 1250px !important;
        margin-bottom: -300px;
}
.slider{
        width: 100% !important;
        height: 500px !important;
}
}
@media (min-width: 992px){
.homeslider{
        width: 100% !important;
        height: 750px !important;
}
.slider{
        width: 100% !important;
        height: 400px !important;
}

}
/* .carousel-content p {
    font-size: 16px;
    color: black;
} */
/* .carousel-content h5 {
    font-size: 24px;
    font-weight: bold;
} */
/* .padding_top {
    margin-top: 5px;
    padding-top: 0px;
} */
.cusm{
        margin-top: -300px !important;
}
.cusa{
        margin-top: -100px !important;
}
@media (min-width: 1265px){
.cusm{
        margin-top: -245px !important;
}
}
.cust{
        margin-top: 45px;
}