/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.html) no-repeat center center
}
.homeslider{
        height: 750px !important;width: 100% !important
}

.homeimg{
        height:400px !important; width: 500px !important
}
.homefreight{
        
}
.carousel-content {
    position: sticky;
    bottom: 45%;
    left: 5%;
    z-index: 20;
    text-align: left;
    /* background-color: white; */
    /* opacity: 0.85; */
    margin-left: 320px;
    margin-right: 270px;
    padding: 15px 10px;
}
.carousel-contents {
    position: sticky;
    bottom: 45%;
    left: 5%;
    z-index: 20;
    text-align: center;
    /* background-color: white; */
    /* opacity: 0.85; */
    margin-left: 320px;
    margin-right: 270px;
    padding: 15px 10px;
    font-size: 26px;
}
@media only screen and (min-width: 768px) and (max-width: 991px){

}
@media (max-width: 991px)
{
.carousel-content {
    position: sticky;
    bottom: 45%;
    left: 5%;
    z-index: 20;
    text-align: left;
    /* background-color: white; */
    /* opacity: 0.85; */
    margin-left: 220px;
    margin-right: 170px;
    padding: 15px 10px;
    font-size: 20px;
}
.carousel-contents {
    position: sticky;
    bottom: 45%;
    left: 5%;
    z-index: 20;
    text-align: center;
    /* background-color: white; */
    /* opacity: 0.85; */
    margin-left: 220px;
    margin-right: 170px;
    padding: 15px 10px;
}

.homeslider{
        width: 100% !important;
        height: 1250px !important;
        margin-bottom: -300px;
}
.slider{
        width: 100% !important;
        height: 500px !important;
}
}
@media (min-width: 992px){
.homeslider{
        width: 100% !important;
        height: 750px !important;
}
.slider{
        width: 100% !important;
        height: 400px !important;
}

}
/* .carousel-content p {
    font-size: 16px;
    color: black;
} */
/* .carousel-content h5 {
    font-size: 24px;
    font-weight: bold;
} */
/* .padding_top {
    margin-top: 5px;
    padding-top: 0px;
} */
.cusm{
        margin-top: -300px !important;
}
.cusa{
        margin-top: -100px !important;
}
@media (min-width: 1265px){
.cusm{
        margin-top: -245px !important;
}
}
.cust{
        margin-top: 45px;
}