@import url(http://fonts.googleapis.com/css?family=Open%20Sans:400,300,300italic,400italic,700,700italic,900,900italic);@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
	overflow-x:hidden;
	padding: 0 !important;
	background:#fff;
	margin:0px !important;
}


.fullwidthbanner-container{
		width:100% !important;
		position:relative;
		padding:0;
		overflow:hidden;
		color:#fff;
}

.tp-caption{
	font-size:14px;
}

.custom-font-1{
	font-family:"Montserrat", Arial, Helvetica, sans-serif;
	font-size:56px;
	font-weight:800;
	text-transform:uppercase;
	line-height:56px;
}

.custom-font-2{
	font-family:"Lato", Arial, Helvetica, sans-serif;
	font-size:24px;
}

.custom-font-3{
	font-family:Georgia;
	font-size:18px;
	font-style:italic;
}

.line-deco {
  line-height: 0.5;
  text-align: center;
}
.line-deco span {
  display: inline-block;
  position: relative; 
}
.line-deco span:before,
.line-deco span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-top: 1px solid white;
  top: 5px;
  width: 30px;
}
.line-deco span:before {
  right: 100%;
  margin-right: 15px;
}
.line-deco span:after {
  left: 100%;
  margin-left: 15px;
}

.line{
	width:145px;
	height:4px;
	background:#fff;
}

a.btn-slider{
	display:inline-block;
	background:#D03232;
	color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:6px 31px 6px 31px;
	text-transform:uppercase;
	font-weight:bold;
	letter-spacing:2px;
	min-width:100px;
}

a.btn-border-slider{
	display:inline-block;
	border:solid 2px rgba(255,255,255,.5);
	color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:5px 30px 5px 30px;
	text-transform:uppercase;
	font-weight:bold;
	letter-spacing:2px;
	min-width:100px;
}

.border-v{
	height:300px;
	border-left:solid 1px rgba(255,255,255,.5);
}

.h-line{
	width:80px;
	height:3px;
	background:#D03232;
}
.homeslider{
        height: 750px !important;width: 100% !important
}

.homeimg{
        height:400px !important; width: 500px !important
}
.homefreight{
        
}
.carousel-content {
    position: sticky;
    bottom: 45%;
    left: 5%;
    z-index: 20;
    text-align: left;
    /* background-color: white; */
    /* opacity: 0.85; */
    margin-left: 320px;
    margin-right: 270px;
    padding: 15px 10px;
}
.carousel-contents {
    position: sticky;
    bottom: 45%;
    left: 5%;
    z-index: 20;
    text-align: center;
    /* background-color: white; */
    /* opacity: 0.85; */
    margin-left: 320px;
    margin-right: 270px;
    padding: 15px 10px;
    font-size: 26px;
}
@media only screen and (min-width: 768px) and (max-width: 991px){

}
@media (max-width: 991px)
{
.carousel-content {
    position: sticky;
    bottom: 45%;
    left: 5%;
    z-index: 20;
    text-align: left;
    /* background-color: white; */
    /* opacity: 0.85; */
    margin-left: 220px;
    margin-right: 170px;
    padding: 15px 10px;
    font-size: 20px;
}
.carousel-contents {
    position: sticky;
    bottom: 45%;
    left: 5%;
    z-index: 20;
    text-align: center;
    /* background-color: white; */
    /* opacity: 0.85; */
    margin-left: 220px;
    margin-right: 170px;
    padding: 15px 10px;
}

.homeslider{
        width: 100% !important;
        height: 1250px !important;
        margin-bottom: -300px;
}
.slider{
        width: 100% !important;
        height: 500px !important;
}
}
@media (min-width: 992px){
.homeslider{
        width: 100% !important;
        height: 750px !important;
}
.slider{
        width: 100% !important;
        height: 400px !important;
}

}
/* .carousel-content p {
    font-size: 16px;
    color: black;
} */
/* .carousel-content h5 {
    font-size: 24px;
    font-weight: bold;
} */
/* .padding_top {
    margin-top: 5px;
    padding-top: 0px;
} */
.cusm{
        margin-top: -300px !important;
}
.cusa{
        margin-top: -100px !important;
}
@media (min-width: 1265px){
.cusm{
        margin-top: -245px !important;
}
}
.cust{
        margin-top: 45px;
}