a,
.id-color,
.list-2-col li:hover a,
.list-2-col li:hover:before,
.twitter-widget li a,
#subheader h1,
.counter .num,
h1.id-color,h2.id-color,
.team-list .name,
.divider-deco span,
.timeline-year .date,
footer .social i:hover,
#mainmenu li:hover a,
.news-item a h3,
.news-item .fa,
.pagination li a,
.btn-open-map,
.btn-search-icon,
.btn-customm,
.tiny-border,
.info-box i,
.news-item a:hover h4,
.news-list-date a:hover h4
{color:#344350;}


.box-icon-small i ,
.bg-color,
.news-list-date .date,
.feature-box.icon-square > i,
.owl-custom-nav .btn-next:before,
.owl-custom-nav .btn-prev:before,
#testi-carousel-2 blockquote,
.owl-theme .owl-controls .owl-page.active span,
#awards-carousel .overlay,
#awards-thumbnail .overlay,
.side-nav li.active,
.testi-box-1 blockquote,
.simple-form input[type=submit],
.btn-expand:before,
.faq .icon-search,
#mainmenu li li a:hover,
.pagination li.active a,
.news-item .quote,
.ex-gallery .small-border,
.timeline.custom-tl > li > .timeline-badge,
ul.progress li.active,
ul.progress li.beforeactive:before,
.small-border,
.news-item.style-2 .date
{background-color:#e9e9ea;}

#menu-btn ,
{background-color:#5c778e;}

.line-deco span:before,
.line-deco span:after,
.box-icon-small .btn-arrow span.line,
.sub-intro-text span:before,
.sub-intro-text span:after,
.crumb span:before,
.crumb span:after,
.pagination li.active a
{border-color:#344350}

ul.progress li.active:after {
border-color: transparent transparent transparent #344350;
}

.arrow-down{
	border-top: 5px solid #344350;
}

.btn-arrow span.line{
	border-top: 1px solid #344350;
}


